[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MultiJoin"]
	path = MultiJoin
	url = https://github.com/cran/MultiJoin
[submodule "RapidPolygonLookup"]
	path = RapidPolygonLookup
	url = https://github.com/cran/RapidPolygonLookup
[submodule "RgoogleMaps"]
	path = RgoogleMaps
	url = https://github.com/cran/RgoogleMaps
[submodule "bandit"]
	path = bandit
	url = https://github.com/cran/bandit
[submodule "rfVarImpOOB"]
	path = rfVarImpOOB
	url = https://github.com/cran/rfVarImpOOB
