[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bandit"]
	path = bandit
	url = https://github.com/cran/bandit
	shallow = true
	registered = true
[submodule "MultiJoin"]
	path = MultiJoin
	url = https://github.com/cran/MultiJoin
	shallow = true
	registered = true
[submodule "RapidPolygonLookup"]
	path = RapidPolygonLookup
	url = https://github.com/cran/RapidPolygonLookup
	shallow = true
	registered = true
[submodule "rfVarImpOOB"]
	path = rfVarImpOOB
	url = https://github.com/cran/rfVarImpOOB
	shallow = true
	registered = true
[submodule "RgoogleMaps"]
	path = RgoogleMaps
	url = https://github.com/cran/RgoogleMaps
	shallow = true
	registered = true
